h3 {
    text-align: center;
}
td {
    color:mediumpurple;
    font-style: italic;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    background-color: dodgerblue;
}
li {
    font-style: italic;
}
div {
    text-align: center;
}
th {
    text-align: center;
}