p {
    text-align: center;
}
h1 {
    text-align: center;
    font-family: 'Lobster', cursive;
}
a:visited {
    color:firebrick;
}
a:hover {
    font-weight: bold;
}
a:active {
    text-decoration: none;
}